{% raw -%}
<!-- ================================================== -->
<!-- Channel List Item Template -->
<!-- ================================================== -->
<script id="channel-template" type="text/x-handlebars-template">
	<a
		href="#"
		onclick="toggleChannelChat({{id}})"
		class="filterDiscussions all __channel_type__ single active"
		id="list-chat-list"
		data-toggle="list"
		role="tab"
	>
		<img
			class="avatar-md"
			src="{{avatar}}"
			data-toggle="tooltip"
			data-placement="top"
			title="{{name}}"
			alt="avatar"
		/>
		<div class="data">
			<h5>{{name}}</h5>
			<span>{{created_on}}</span>
			<p>{{description}}<p>
		</div>
	</a>
</script>



<script id="channel-chat-header-template" type="text/x-handlebars-template">
	<div class="top">
		<div class="container">
			<div class="col-md-12">
				<div class="inside">
					<a href="#">
						<img
							class="avatar-md"
							src="{{avatar}}"
							data-toggle="tooltip"
							data-placement="top"
							title="{{name}}"
							alt="avatar"
						/>
					</a>
					<div class="status">
						<i class="material-icons online">fiber_manual_record</i>
					</div>
					<div class="data">
						<h5>
							<a href="#">
								{{name}}
							</a>
						</h5>
							<span>{{description}} </span>
					</div>
					<button class="btn d-md-block d-none">
						<i class="material-icons md-30">
							info
						</i>
					</button>
					<div class="dropdown">
						<button
							class="btn"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<i class="material-icons md-30">
								more_vert
							</i>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<button class="dropdown-item connect" name="1">
								<i class="material-icons">
									phone_in_talk
								</i>
								Voice Call
							</button>
							<button class="dropdown-item connect" name="1">
								<i class="material-icons">
									videocam
								</i>
								Video Call
							</button>
							<hr />
							<button class="dropdown-item">
								<i class="material-icons">
									clear
								</i>
								Clear History
							</button>
							<button class="dropdown-item">
								<i class="material-icons">
									block
								</i>
								Block Contact
							</button>
							<button class="dropdown-item">
								<i class="material-icons">
									delete
								</i>
								Delete Contact
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="channel-chat-message-template" type="text/x-handlebars-template">
		<div class="date">
			<hr />
			<span style="width: 100%;">{{date}}</span>
			<hr />
		</div>
		{{#each messages}}
			{{#if is_sent_by_me}}
				<div class="message me">
					<div class="text-main">
						<div class="text-group me">
							<div class="text me">
								<p>
									{{message}}
								</p>
							</div>
						</div>
						<span>{{short_time}}</span>
					</div>
				</div>
			{{else}}
				<div class="message">
					<img
						class="avatar-md"
						src="{{sender_avatar}}"
						data-toggle="tooltip"
						data-placement="top"
						title="{{sender_fname}} {{sender_lname}}"
						alt="avatar"
					/>
					<div class="text-main">
						<div class="text-group">
							<div class="text">
								<p>
									{{message}}
								</p>
							</div>
						</div>
						<span>
							{{short_time}}
						</span>
					</div>
				</div>
			{{/if}}

		{{/each}}
</script>

<script id="channel-chat-tab" type="text/x-handlebars-template">
	<!-- Start of Babble -->
						<div class="babble tab-pane" id="channelChat{{id}}" role="tabpanel" aria-labelledby="list-chat-list">
							<!-- Start of Chat -->
							<div class="chat">
									{{{header}}}
									<div class="content">
										<div class="container">
											<div class="col-md-12" id="channel-messages-{{id}}">
												{{#each messages}}
													{{{this}}}
												{{/each}}
											</div>
										</div>
									</div>
									
								<div class="container">
									<div class="col-md-12">
										<div class="bottom">
											<div class="position-relative w-100" send_channel_message({{id}}) ">
												<textarea class="form-control" placeholder="Start typing for reply..." rows="1" id="channel-form-message{{id}}"></textarea>
												<button type="button" class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
												<button type="button" onclick="send_channel_message({{id}})" class="btn send"><i class="material-icons">send</i></button>
											</div>
											<label>
												<input type="file" disabled>
												<span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<!-- End of Chat -->
</script>

{%- endraw %}