{% raw -%}

<script id="notification-list-template" type="text/x-handlebars-template">
<a
	href="#"
	onclick="toggleFriendNotification({{id}})"
	class="filterNotifications all latest notification"
	data-toggle="list"
>
	<img
		class="avatar-md"
		src="{{avatar}}"
		data-toggle="tooltip"
		data-placement="top"
		title="{{fname}} {{lname}}"
		alt="avatar"
	/>
	<div class="status">
		<i
			class="material-icons
			{{#if is_online}}
				online
			{{else}}
				offline
			{{/if}}">fiber_manual_record</i>
	</div>
	<div class="data">
		<p>{{fname}} {{lname}} sent you a friend request.</p>
		<span>{{country}}</span>
	</div>
</a>
</script>

<script id="notification-show-template" type="text/x-handlebars-template">
	<!-- Start of Babble -->
						<div class="babble tab-pane fade" id="friendRequest{{id}}" role="tabpanel" aria-labelledby="list-request-list">
							<!-- Start of Chat -->
							<div class="chat" id="chat3">
								<div class="top">
									<div class="container">
										<div class="col-md-12">
											<div class="inside">
												<a href="#"><img class="avatar-md" src={{avatar}} data-toggle="tooltip" data-placement="top" title="{{fname}} {{lname}}" alt="avatar"></a>
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5><a href="#">Louis Martinez</a></h5>
													<span>Inactive</span>
												</div>
												<button class="btn d-md-block disabled d-none" disabled><i class="material-icons md-30">info</i></button>
												<div class="dropdown">
													<button class="btn disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled><i class="material-icons md-30">more_vert</i></button>
													<div class="dropdown-menu dropdown-menu-right">
														<button class="dropdown-item"><i class="material-icons">phone_in_talk</i>Voice Call</button>
														<button class="dropdown-item"><i class="material-icons">videocam</i>Video Call</button>
														<hr>
														<button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
														<button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
														<button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content empty">
									<div class="container">
										<div class="col-md-12">
											<div class="no-messages request">
												<a href="#"><img class="avatar-xl" src="{{avatar}}" data-toggle="tooltip" data-placement="top" title="{{fname}} {{lname}}" alt="avatar"></a>
												<h5>{{fname}} {{lname}} would like to add you as a contact. <span>Hi {{user_fname}} {{user_lname}}, I'd like to add you as a contact.</span></h5>
												<div class="options">
													<button onclick="acceptFriendRequest({{id}})" class="btn button"><i class="material-icons">check</i></button>
													<button onclick="rejectFriendRequest({{id}})" class="btn button"><i class="material-icons">close</i></button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="col-md-12">
										<div class="bottom">
											<form class="position-relative w-100">
												<textarea class="form-control" placeholder="Messaging unavailable" rows="1" disabled></textarea>
												<button class="btn emoticons disabled" disabled><i class="material-icons">insert_emoticon</i></button>
												<button class="btn send disabled" disabled><i class="material-icons">send</i></button>
											</form>
											<label>
												<input type="file" disabled>
												<span class="btn attach disabled d-sm-block d-none"><i class="material-icons">attach_file</i></span>
											</label> 
										</div>
									</div>
								</div>
							</div>
							<!-- End of Chat -->
						</div>
						<!-- End of Babble -->
</script>



{%- endraw %}
