<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sign Up – Flack</title>
		<meta name="description" content="#" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Bootstrap core CSS -->
		<link
			href="/static/css/lib/bootstrap.min.css"
			type="text/css"
			rel="stylesheet"
		/>
		<!-- Swipe core CSS -->
		<link
			href="/static/css/swipe.min.css"
			type="text/css"
			rel="stylesheet"
		/>
		<!-- Favicon -->
		<link href="/static/img/favicon.png" type="image/png" rel="icon" />
		<script src="/static/js/app/utils.js"></script>
		<script src="/static/js/app/register.js"></script>
	</head>
	<body class="start">
		<main>
			<div class="layout">
				<!-- Start of Sign Up -->
				<div class="main order-md-2">
					<div class="start">
						<div class="container">
							<div class="col-md-12">
								<div class="content">
									<h1>Create Account</h1>
									<p>After account creation you will be sent a<br/> confirmation email. Please confirm your account,<br /> before using it.</p>
									<form class="signup" id="signup-form">
										<div class="form-parent">
											<div class="form-group">
												<input
													type="text"
													id="inputFname"
													class="form-control"
													placeholder="First Name"
													required
												/>
												<button class="btn icon">
													<i class="material-icons"
														>person_outline</i
													>
												</button>
											</div>
											<div class="form-group">
												<input
													type="text"
													id="inputLname"
													class="form-control"
													placeholder="Last Name"
													required
												/>
												<button class="btn icon">
													<i class="material-icons"
														>person_outline</i
													>
												</button>
											</div>
										</div>
										<div class="form-parent">
											<div class="form-group">
												<input
													type="password"
													id="inputPassword"
													class="form-control"
													placeholder="Password"
													required
												/>
												<button class="btn icon">
													<i class="material-icons"
														>lock_outline</i
													>
												</button>
											</div>
											<div class="form-group">
												<input
													type="password"
													id="inputConfirmPassword"
													class="form-control"
													placeholder="Confirm Password"
													required
												/>
												<button class="btn icon">
													<i class="material-icons"
														>lock_outline</i
													>
												</button>
											</div>
										</div>
										
										<div class="form-group">
												<input
													type="email"
													id="inputEmail"
													class="form-control"
													placeholder="Email Address"
													required
												/>
												<button class="btn icon">
													<i class="material-icons"
														>mail_outline</i
													>
												</button>
											</div>
											<div class="form-group">
												<select class="form-control" id="selectLocation">
													<option value="" selected>Select your Country</option>
													<option value="in">INDIA</option>
													<option value="fr">France</option>
												</select>
												<button class="btn icon">
													<i class="material-icons"
														>mail_outline</i
													>
												</button>
											</div>
										<button
											type="submit"
											class="btn button"
										>
											Sign Up
										</button>
										<div class="callout">
											<span
												>Already a member?
												<a href="{{url_for('pages.signin')}}"
													>Sign In</a
												></span
											>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sign Up -->
				<!-- Start of Sidebar -->
				<div class="aside order-md-1">
					<div class="container">
						<div class="col-md-12">
							<div class="preference">
								<h2>Welcome Back!</h2>
								<p>
									To keep connected with your friends please
									login with your personal info.
								</p>
								<a
									href="{{url_for('pages.signin')}}"
									class="btn button"
									>Sign In</a
								>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sidebar -->
			</div>
			<!-- Layout -->
		</main>
		<!-- Toasts will be used for errors. -->
		<div
			class="toast bg-danger text-white"
			id="error-toast"
			role="alert"
			data-delay="3000"
			aria-live="assertive"
			aria-atomic="true"
			style="position: fixed; top: 20px; right: 20px;"
		>
			<div class="toast-header">
				
				<strong class="mr-auto">Error Occured.</strong>
				<small class="text-muted">just now</small>
				<button
					type="button"
					class="ml-2 mb-1 close"
					data-dismiss="toast"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body" id="error">
				This will be the content of error.
			</div>
		</div>
		<!-- toast ends here -->
		<!-- Toasts will be used for information. -->
		<div
			class="toast bg-success text-white"
			id="info-toast"
			role="alert"
			data-delay="3000"
			aria-live="assertive"
			aria-atomic="true"
			style="position: fixed; top: 20px; right: 20px;"
		>
			<div class="toast-header">
				
				<strong class="mr-auto">Error Occured.</strong>
				<small class="text-muted">just now</small>
				<button
					type="button"
					class="ml-2 mb-1 close"
					data-dismiss="toast"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body" id="error">
				This will be the content of error.
			</div>
		</div>
		<!-- toast ends here -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script
			src="/static/js/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script>
			window.jQuery ||
				document.write(
					'<script src="/static/js/vendor/jquery-slim.min.js"><\/script>'
				);
		</script>
		<script src="/static/js/vendor/popper.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
